SERVICE_NAME=wazuh
AWS_ACCESS_KEY_ID={{ wazuh_backup_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ wazuh_backup_aws_secret_access_key }}
AWS_REGION={{ wazuh_backup_aws_region }}
BUCKET_NAME={{ wazuh_backup_s3_bucket }}
MQTT_HOST={{ wazuh_backup_mqtt_host }}
MQTT_PORT={{ wazuh_backup_mqtt_port }}
MQTT_USERNAME={{ wazuh_backup_mqtt_username }}
MQTT_PASSWORD={{ wazuh_backup_mqtt_password }}
WAZUH_VERSION={{ wazuh_version }}
WAZUH_INSTALL_DIR={{ wazuh_install_dir }}
WAZUH_DOMAIN={{ wazuh_domain }}
