INDEXER_USERNAME=admin
INDEXER_PASSWORD={{ wazuh_indexer_password }}
WAZUH_API_URL=https://wazuh.manager
DASHBOARD_USERNAME=kibanaserver
DASHBOARD_PASSWORD={{ wazuh_kibana_password }}
API_USERNAME=wazuh-wui
API_PASSWORD={{ wazuh_api_password }}
