---
- name: Wazuh server configuration
  hosts: wazuh
  vars:
    hostname: wazuh
    domain: local.iamrobertyoung.co.uk
    fqdn: "{{ hostname }}.{{ domain }}"

  roles:
    - role: configure-system
      tags: [configure-system]

    - role: shell
      tags: [shell]
      vars:
        shell_hostname: "{{ hostname }}"
        shell_user: noxious
        shell_home_directory: /home/noxious

    - role: shell
      tags: [shell]
      vars:
        shell_hostname: "{{ hostname }}"
        shell_user: root
        shell_home_directory: /root
        shell_show_pretty_info: false

    - role: docker
      tags: [docker]

    - role: telegraf
      tags: [telegraf]
      vars:
        telegraf_influxdb_url: "https://influxdb.{{ domain }}"
        telegraf_influxdb_port: 8086
        telegraf_influxdb_organisation: "0dd8df669872ba9e"
        telegraf_influxdb_token: "{{ lookup('amazon.aws.aws_ssm', '/home-server/influxdb-token') }}"
        telegraf_influxdb_bucket: "home-server"

    - role: step-ca-client
      tags: [step-ca-client]
      vars:
        step_ca_client_provisioner_password: "{{ lookup('amazon.aws.aws_ssm', '/home-server/step-ca-ansible-password') }}"
        step_ca_client_cert_name: "{{ fqdn }}"
        step_ca_client_cert_file: "/etc/ssl/certs/{{ fqdn }}.crt"
        step_ca_client_key_file: "/etc/ssl/private/{{ fqdn }}.pem"

    - role: syslog
      tags: [syslog]
      vars:
        syslog_fqdn: "{{ fqdn }}"

    - role: wazuh
      tags: [wazuh]
      vars:
        wazuh_indexer_password: "{{ lookup('amazon.aws.aws_ssm', '/home-server/wazuh-indexer-password') }}"
        wazuh_api_password: "{{ lookup('amazon.aws.aws_ssm', '/home-server/wazuh-api-password') }}"
