---
- name: Wazuh server configuration
  hosts: wazuh
  vars:
    hostname: wazuh
    domain: local.iamrobertyoung.co.uk
    fqdn: "{{ hostname }}.{{ domain }}"

  roles:
    - role: configure-system
      tags: [configure-system]

    - role: robertyoung.homelab.shell
      tags: [shell]
      vars:
        user: noxious
        home_directory: /home/noxious

    - role: robertyoung.homelab.shell
      tags: [shell]
      vars:
        user: root
        home_directory: /root
        show_pretty_info: false

    - role: robertyoung.homelab.docker
      tags: [docker]

    - role: robertyoung.homelab.telegraf
      tags: [telegraf]
      vars:
        telegraf_influxdb_url: "https://influxdb.{{ domain }}"
        telegraf_influxdb_port: 8086
        telegraf_influxdb_organisation: "0dd8df669872ba9e"
        telegraf_influxdb_token: "{{ lookup('amazon.aws.aws_ssm', '/home-server/influxdb-token') }}"
        telegraf_influxdb_bucket: "home-server"

    - role: robertyoung.homelab.step_ca_client
      tags: [step-ca-client]
      vars:
        ansible_provisioner_password: "{{ lookup('amazon.aws.aws_ssm', '/home-server/step-ca-ansible-password') }}"
        service_cert_name: "{{ fqdn }}"
        service_cert_file: "/etc/ssl/certs/{{ fqdn }}.crt"
        service_key_file: "/etc/ssl/private/{{ fqdn }}.pem"

    - role: robertyoung.homelab.syslog
      tags: [syslog]

    - role: wazuh
      tags: [wazuh]
      vars:
        wazuh_indexer_password: "{{ lookup('amazon.aws.aws_ssm', '/home-server/wazuh-indexer-password') }}"
        wazuh_api_password: "{{ lookup('amazon.aws.aws_ssm', '/home-server/wazuh-api-password') }}"
