---
- name: Wazuh server configuration
  hosts: wazuh
  vars:
    hostname: wazuh
    domain: local.iamrobertyoung.co.uk
    fqdn: "{{ hostname }}.{{ domain }}"

  roles:
    - role: configure-system
      tags: [configure-system]

    - role: shell
      tags: [shell]
      vars:
        user: noxious
        home_directory: /home/noxious

    - role: shell
      tags: [shell]
      vars:
        user: root
        home_directory: /root
        show_pretty_info: false

    - role: docker
      tags: [docker]

    - role: telegraf
      tags: [telegraf]
      vars:
        telegraf_influxdb_url: "https://influxdb.{{ domain }}"
        telegraf_influxdb_port: 8086
        telegraf_influxdb_organisation: "0dd8df669872ba9e"
        telegraf_influxdb_token: "{{ lookup('amazon.aws.aws_ssm', '/home-server/influxdb-token', region='eu-west-2') }}"
        telegraf_influxdb_bucket: "home-server"

    - role: step-ca-client
      tags: [step-ca-client]
      vars:
        ansible_provisioner_password: "{{ lookup('amazon.aws.aws_ssm', '/home-server/step-ca-ansible-password', region='eu-west-2') }}"
        service_cert_name: "{{ fqdn }}"
        service_cert_file: "/etc/ssl/certs/{{ fqdn }}.crt"
        service_key_file: "/etc/ssl/private/{{ fqdn }}.pem"

    - role: syslog
      tags: [syslog]

    - role: certbot
      tags: [certbot]
      vars:
        certbot_domain: "{{ fqdn }}"
        certbot_aws_access_key: "{{ lookup('amazon.aws.aws_ssm', '/home-server/certbot-access-key', region='eu-west-2') }}"
        certbot_aws_secret_access_key: "{{ lookup('amazon.aws.aws_ssm', '/home-server/certbot-secret-access-key', region='eu-west-2') }}"
        # certbot_deploy_hook_script: "../roles/wazuh/files/certbot/deploy-hook.sh"
